<div class="body">
    <h2 class="text-center">signup</h2>
    <form #v= ngForm (ngSubmit)="signup(v)">
        <input ngModel #name="ngModel"  name="name"  type="text" class="form-control" placeholder="your name" required >
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            name is required</div>
        <input ngModel  #email="ngModel" name="email" type="email" class="form-control" placeholder="your email" required>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
            correct email</div>
        <input ngModel  #password="ngModel" name="password" type="password" class="form-control" placeholder="your password" required minlength="6">
        <!--<div class="alert alert-danger"
         *ngIf="password.errors?.required && password.touched">
         password is required</div>-->
        <div class="alert alert-danger"
         *ngIf="password.errors?.minlength || password.invalid && password.touched">
         password should be +6 character</div>
        <input ngModel  #confirmPassword="ngModel" name="confirmPassword" type="password" class="form-control" placeholder="repeat your password" required>
        <div class="aler alert-danger" 
        *ngIf="confirmPassword.value !== password.value && confirmPassword.touched">
        password is not equal</div>
        <input ngModel  #adress="ngModel"  name="adress" type="text" class="form-control" placeholder="adress" required>
        <div class="alert alert-danger" *ngIf="adress.invalid && adress.touched">
            adress is required</div>
        <button [disabled]="v .invalid || password.value !== confirmPassword.value" class="btn btn-primary"  >creat account</button>
        </form>
        <br/><br/>
        <div class="alert alert-danger" *ngIf ="errorMessage">{{errorMessage}}</div>

</div>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
